@import '~bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto&display=swap');

html,body{
  background-color: #F0EDE1;
  height: 100%;
}

/*Navigation bar*/
.nav{
  background-color: #DDDACB;
}

/*Landing page (Sign Up and Log In) 
  background-image: url(./images/Cooking-Home-Collection.jpg);
*/
.landingsection{
  text-align:center;
  color:white;
  background-repeat: repeat-y;
  padding: 40vh 0;
  height:90vh;
}

.lsbg{
  background-color: rgba(47, 62, 70, .5);
  padding: 15px;
}

.landingElement{
  padding-bottom: 5vh;
}

.footer{
  background-color:#DDDACB ;
  padding: 2vh 0;
  width:100%;  
  bottom:0;
}


.parent{
  display: flex;
  flex-direction: column;
  justify-content: center;

}



.verticalAlign{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form{
  margin: 0 10vh;
}

h1{
  text-decoration: underline #7899D4;
}

h1, .header{
  text-align: center;
  font-family: 'Abril Fatface', cursive;
}

.title{
  font-family: 'Abril Fatface', cursive;
}

.row-space{
  padding: 20px 0;
}

.landing-space{
  padding-top: 5vh;
}

.left-text{
  text-align: left;
}

.recipe-bg{
  background-color: white;
  margin-bottom: 50px;
}

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.btn-create, .btn-login, .btn-edit, .btn-bblue{
  background-color:#7899D4;
  color:white;
  margin: 20px 0;
}

.btn-delete{
  margin:20px 0;
}

.right{
  text-align: right;
}


.card{
  margin: 5vh;
  text-align: center;
}

.center{
  text-align: center;
}

.error{
  color:red;
  font-weight: bold;
}

.spacing{
  margin: 5vh 0;
}

ul{
  list-style-position:inside
}

.responsive{
  height: auto;
  max-width:80%;
  text-align:center;
}

.recipe-image{
  max-width: 200px;
  height: auto;
}


@media (min-width: 768px) {
  .nav, .padding{
    padding: 0 15%;
  }
}

@media (max-width: 768px) {
  .nav, .padding{
    padding: 0 15px;
  }


 .landingsection{
    display:none;
  }

  .parent{
    padding: 10vh 0;
    height:100%;
  }

  .center2{
    margin: 0 auto;
  }

}

