nav{
  display:flex;
  justify-content: space-around;
  align-items: center;
  background-color: aqua;
  position:fixed;
  top: 0;
  width:100%;
  z-index: 999;
}

.logo{
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
}

.nav-links{
  display:flex;
  justify-content: space-around;
  width:40%;
}

.nav-links li{
  list-style: none;
}

.menu{
  display:none;
}

.menu div{
  width:25px;
  height: 5px;
  background-color: black;
  margin: 3px;
  transition: all 0.3s ease;
}

.line1, .line2, .line3{
  height: 25px;
  width:25px;
  background-color: black;
  margin:3px;
}

.nav-active{
  transform: translateX(0%);
}

.toggle .line1{
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
  opacity:0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px, -6px);
 
}

.form{
  margin: 0 40px;
}

@keyframes navLinkFade{
  from{
      opacity: 0;
      tranform: translateX(50px);
  }
  to{
      opacity: 1;
      transform: translateX(0px);
  }
}

@media screen and (max-width: 768px){
  .nav-links{
    position: absolute;
    right: 0px;
    height: 92vh;
    background-color: #d7dae5;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);  
}
.nav-links li{
    opacity: 0;
}
.menu{
    display: block;
}
}


